#app-container {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  gap: 30px;
  justify-content: flex-start;
  min-height: 100vh;

  img.app-logo {
    margin-top: 30px;
    max-height: 6em;
  }
}
